body {
  min-height: 100%;
  background-color: lightgrey;
  background-repeat: no-repeat;
  background-size: 600px;

  background-position: 50% 100px;

}

@font-face {
  font-family: LCD_Solid;
  src: url('../assets/LCD_Solid.ttf');
}

#titlebar {
  position: page;
  top: 0;
  left: 0;
  width: 100%;
  color: black;
  /* background: whitesmoke; */
  background: black;
  padding: 0.25em;
  /* height: 3.5em; */
  padding-top: 1.00em;
  padding-bottom: 0.75em;
  border-bottom: 1px solid rgb(42,42,42);
}

#site_title {
  -webkit-font-smoothing: never;
  -moz-osx-font-smoothing: never;
  padding: 0;
  font-size: 2em;
  font-weight: bold;
  color: whitesmoke;
  text-shadow:  0 0 10px rgb(128, 255, 128) ,
                0 0 30px rgb(128, 255, 128) ;
}

.terminal {
  font-family: 'LCD_Solid';
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  border: none;
  color: rgb(17, 104, 0);
  text-decoration: normal;
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  white-space: pre;

}


#titlebar_content {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  width: 97%;
  padding-left: 1em;
}

#menu {
  display: inline;
}

#menu > li {
  -webkit-transform: translateY(20%);
  -ms-transform: translateY(20%);
  transform: translateY(20%);
  display: inline;
  color: rgb(17, 104, 1);
  font-size: 1.25em;
  font-weight: 600;
  padding: 0.5em;
}

a:hover.titlebar_link{
  text-decoration: underline;
  text-decoration-color: rgb(17, 149, 5);
  /* color: rgb(200, 255, 200);*/
  text-shadow:  0 0 10px rgb(128, 255, 128) ,
                0 0 30px rgb(128, 255, 128) ;
}

.titlebar_link_selected {
  color: rgb(200, 255, 200);
  font-weight: 900;
  text-shadow:  0 0 10px rgb(128, 255, 128) ,
                0 0 30px rgb(128, 255, 128) ;
}



.transition{
  position: page;
  width: 100%;
  margin: 0;
  /* background: whitesmoke; */
  padding: 0.5px;
  /* height: 3.5em; */
  border-top: 1px solid rgb(84,84,84);
  background: rgb(127,127,127);
  border-bottom: 1px solid rgb(169,169,169);
}

#page {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  width: 97%;
}

@media screen and (min-width: 1111px) { /* 1300 * 0.97 */
  #page {
    width: 1078px;
  }
  #titlebar_content {
    width: 1078px
  }
}


@media screen and (max-width: 1111px) { /* 1300 * 0.97 */

  #site_title {
    font-size: 1.5em;
  }
  #titlebar_content {
    padding-left: 0.5em;
  }

  .terminal {
    padding: 5px;
  }

}


@media screen and (max-width: 900px) { /* 1300 * 0.97 */

  #menu .menu_bracket {
    display: none;
  }

  #titlebar {
    padding-top: 0.75em;
    padding-bottom: 0.5em;
  }

}

@media screen and (max-width: 700px) { /* 1300 * 0.97 */

  #site_title {
    display: block;
    text-align: center;
    font-size: 1.25em;
  }

  #page {
    width: 100%
  }
  #titlebar_content {
    width: 100%
  }


  #menu {
    text-align: center;;
    display: block;
  }

  #menu .titlebar_option {
    font-size: 1.0em;
  }

  .terminal {
    padding: 2px;
  }

}



@media screen and (max-width: 400px) { /* 1300 * 0.97 */
  #site_title {
    font-size: 1em;
  }
}




.page_title_center {
  text-align: center;
}



#location {
  margin-top: 0.5em;
  margin-bottom: 0.25em;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  font-size: 1.5em;
  font-weight: bold;
  color: gray;
}

.location_divider {
  font-size: 1.5em;
  font-weight: bold;

  color: gray;
}

#page_name {
  margin-top: 0.5em;
  margin-bottom: 0.25em;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  font-size: 1.5em;
  font-weight: bold;
  color: steelblue;
}








#page {
  margin-top: 1em;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0.25em;
  margin-bottom: 0.5em;
  font-weight: bold;
}

h1 {
  text-decoration: none;
  font-weight: bold;

}

p {
  padding: 0.25em;
  margin: 0.5em;
}

.link {
  color: #0018bb;
}

.section {
  margin-top: 1em;
  margin-left: 0.5em;
  overflow:auto;
}

.level_2 {
  margin: 0.5em;
  margin-bottom: 1em;
  padding: 0.5em;
  padding-bottom: 2em;
  border: 2px solid #e4e4e4;
  background-color: whitesmoke;
  border-radius: 0.4em;
}



ul, ol {
 padding-left: 1em;
  margin-left: 0em;
}

ul li {
    list-style-type: disc;
    color: #8a8aa6;
}

ol li:first-line, ul li:first-line  {
    color: black;
}

li {
  margin-top: 0.2em;
}

img {
  margin: 0.5em
}

.image_float{
  margin: 0.5em;
  border: 2px solid white
}

.image_float_right {
  display: block;
  float: right;
  margin: 0.5em;
  border: 2px solid white
}

.image_center{
  display: block;
  margin: auto;
}


.image_card{
  display: block;
  margin: auto;

  border: 2px solid #e4e4e4;
  background-color: whitesmoke;
  border-radius: 0.4em;
}


.image_full_width {
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}


.image_icon {
  margin: 0;
  -webkit-transform: translateY(28%);
  -ms-transform: translateY(28%);
  transform: translateY(28%);
}


a[href^="http://"]:after,
a[href^="https://"]:after {
  content: url(/assets/Icon_External_Link.png);
  margin: 0 0 0 2px;
}
